.App {
  text-align: center;
}

body{

  background : linear-gradient(0.25turn,rgb(51, 0, 255),rgb(189, 20, 222),rgba(242, 141, 212, 0.63)
  );
}

.imagen1{
  height: 280px;
  }
  .imagen2{
    height: 280px;
    }

